<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	  
<head th:replace="~{admin-template/base::head-fragment}">

</head>

<body>
    <!-- Pre-loader Starts -->
    <div th:replace="~{admin-template/base::theme-loader-fragment}">
    
    </div>
    <!-- Pre-loader Ends -->
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        
			<!-- Header Navbar Starts -->
            <nav th:replace="~{admin-template/base::header-navbar-fragment}">
               
            </nav>
            <!-- Header Navbar Ends -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                
                	<!-- Sidebar Starts -->
                    <nav th:replace="~{admin-template/base::sidebar-fragment}">
                        
                    </nav>
                    <!-- Sidebar Ends -->
                    
                    <!-- Replaceable Content Starts -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
									<!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="card-block">
                                            <h5 class="m-b-10">Dashboard</h5>
                                            <ul class="breadcrumb-title b-t-default p-t-10">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                	<a href="#!">Pages</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                	<a href="#!">Sample page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Hello card</h5>
                                                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                        <div class="card-header-right">
															<ul class="list-unstyled card-option">
																<li><i class="fa fa-chevron-left"></i></li>
																<li><i class="fa fa-window-maximize full-card"></i></li>
																<li><i class="fa fa-minus minimize-card"></i></li>
																<li><i class="fa fa-refresh reload-card"></i></li>
																<li><i class="fa fa-times close-card"></i></li>
															</ul>
														</div>

                                                    </div>
                                                    <div class="card-block">
                                                        <p>
                                                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                            sunt in culpa qui officia deserunt mollit anim id est laborum."
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                	<!-- Replaceable Content Ends -->
               
                </div>
            </div>
            
        </div>
    </div>

<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/bootstrap/js/bootstrap.min.js}"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/css-scrollbars.js}"></script>

<!-- Custom js -->
<script type="text/javascript" th:src="@{/admin-resources/js/script.js}"></script>
<script th:src="@{/admin-resources/js/pcoded.min.js}"></script>
<script th:src="@{/admin-resources/js/vartical-demo.js}"></script>
<script th:src="@{/admin-resources/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>

</html>
