<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	  
<head th:replace="~{admin-template/base::head-fragment}">

</head>

<body>
    <!-- Pre-loader Starts -->
    <div th:replace="~{admin-template/base::theme-loader-fragment}">
    
    </div>
    <!-- Pre-loader Ends -->
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        
			<!-- Header Navbar Starts -->
            <nav th:replace="~{admin-template/base::header-navbar-fragment}">
               
            </nav>
            <!-- Header Navbar Ends -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                
                	<!-- Sidebar Starts -->
                    <nav th:replace="~{admin-template/base::sidebar-fragment}">
                        
                    </nav>
                    <!-- Sidebar Ends -->
                    
                    <!-- Replaceable Content Starts -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                	<div class="page-body">
                                		<div class="row">
                                			<!-- Card Starts -->
                                            <div class="col-md-6 col-xl-4">
                                                <div class="card bg-c-blue order-card">
                                                    <div class="card-block">
                                                        <h4 class="m-b-20">Total Categories</h4>
                                                        <h2 class="text-right"><i class="ti-layout-grid2-alt f-left"></i><span>1641</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xl-4">
                                                <div class="card bg-c-green order-card">
                                                    <div class="card-block">
                                                        <h4 class="m-b-20">Total Quizzes</h4>
                                                        <h2 class="text-right"><i class="ti-write f-left"></i><span>1641</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div sec:authorize="hasRole('ADMIN')" class="col-md-6 col-xl-4">
                                                <div class="card bg-c-yellow order-card">
                                                    <div class="card-block">
                                                        <h4 class="m-b-20">Total Participant</h4>
                                                        <h2 class="text-right"><i class="fa fa-users f-left"></i><span>1641</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div sec:authorize="hasRole('NORMAL')" class="col-md-6 col-xl-4">
                                                <div class="card bg-c-yellow order-card">
                                                    <div class="card-block">
                                                        <h4 class="m-b-20">Attempted Quizzes</h4>
                                                        <h2 class="text-right"><i class="ti-bookmark-alt f-left"></i><span>1641</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                		</div>
                                		<!-- Card Ends -->
                                		
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Available Quizzes</h5>
                                                        <span>These Quizzes are now available in this site.</span>
                                                        <div class="card-header-right">
															<ul class="list-unstyled card-option">
																<li><i class="fa fa-chevron-left"></i></li>
																<li><i class="fa fa-window-maximize full-card"></i></li>
																<li><i class="fa fa-minus minimize-card"></i></li>
																<li><i class="fa fa-refresh reload-card"></i></li>
																<li><i class="fa fa-times close-card"></i></li>
															</ul>
														</div>
														<hr/>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row">                                                 
				                                            <div class="col-md-12">
				                                                <div class="card text-primary order-card">
				                                                    <div class="card-block">
				                                                    	<p class="badge badge-primary m-b-10">Java Programming</p>
				                                                    	<h6 sec:authorize="hasRole('ADMIN')" class="badge badge-success"  th:text="Published"></h6>
				                                                    	
				                                                        <h4 class="m-b-10">Weekly Quiz-1</h4>
				                                                        <h6 class="badge badge-info m-b-10">Total Questions: <span>10</span></h6>
				                                                        <h6 class="badge badge-secondary m-b-10">Total Marks: <span>10</span></h6>
				                                                        <h6 class="badge badge-warning m-b-10">Duration: <span>10</span> Minutes</h6>
				                                                        <p class="m-b-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non aperiam ipsum aliquam facere ratione minima nam. Saepe maiores nesciunt commodi distinctio id alias sed laborum.</p>                                                      
				                                                        
				                                                        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary btn-sm" href="#">View Questions</a>
				                                                        <a sec:authorize="hasRole('NORMAL')" class="btn btn-primary btn-sm" href="#">Attempt Quiz</a>
			                                                    	</div>
				                                                </div>
				                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                	<!-- Replaceable Content Ends -->
               
                </div>
            </div>
            
        </div>
    </div>

<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/bootstrap/js/bootstrap.min.js}"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/css-scrollbars.js}"></script>

<!-- Custom js -->
<script type="text/javascript" th:src="@{/admin-resources/js/script.js}"></script>
<script th:src="@{/admin-resources/js/pcoded.min.js}"></script>
<script th:src="@{/admin-resources/js/vartical-demo.js}"></script>
<script th:src="@{/admin-resources/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>

</html>
