<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	  
<head th:replace="~{admin-template/base::head-fragment}">

</head>

<body>
    <!-- Pre-loader Starts -->
    <div th:replace="~{admin-template/base::theme-loader-fragment}">
    
    </div>
    <!-- Pre-loader Ends -->
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        
			<!-- Header Navbar Starts -->
            <nav th:replace="~{admin-template/base::header-navbar-fragment}">
               
            </nav>
            <!-- Header Navbar Ends -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                
                	<!-- Sidebar Starts -->
                    <nav th:replace="~{admin-template/base::sidebar-fragment}">
                        
                    </nav>
                    <!-- Sidebar Ends -->
                    
                    <!-- Replaceable Content Starts -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
									<!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="card-block">
                                            <h5 class="m-b-10" th:text="${quiz.title}"></h5>
                                            <ul class="breadcrumb-title b-t-default p-t-10">
                                                <li class="breadcrumb-item">
                                                    <a th:href="@{/}"> <i class="fa fa-home"></i> </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <a th:href="@{/backend}">Dashboard</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                	<a th:href="@{/backend/quizzes/page=0}">Quizzes</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                	<a th:href="@{/backend/quizzes/{id}/{title}/questions/page=0 (id = ${quiz.id}, name = ${quiz.title}) }"><span th:text="${quiz.title}"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="d-inline">
									                        <h5 class="mr-3">Question Set</h5>
									                        <a class="btn btn-sm btn-primary" th:href="@{/backend/quizzes/{id}/{title}/questions/add (id = ${quiz.id}, title = ${quiz.title}) }" data-toggle="tooltip" data-placement="top" data-original-title="Add Question" aria-describedby="tooltip529394"><i class="ti-plus"></i></a>
									                    </div>
                                                        <div class="card-header-right">
															<ul class="list-unstyled card-option">
																<li><i class="fa fa-chevron-left"></i></li>
																<li><i class="fa fa-window-maximize full-card"></i></li>
																<li><i class="fa fa-minus minimize-card"></i></li>
																<li><i class="fa fa-refresh reload-card"></i></li>
																<li><i class="fa fa-times close-card"></i></li>
															</ul>
														</div>
														<hr/>
                                                    </div>
                                                    <div class="card-block">
                                                    	<div class="row">
                                                    		<div class="col-12">
                                                    			<!-- FLASH MESSAGE START -->
									                            <div th:if="${message}" class="ml-auto mr-auto">
									                                <div class="alert text-center" th:classappend="${message.type}" role="alert" th:text="${message.content}">
									                                </div>
									                            </div>
									                            <!-- FLASH MESSAGE END -->
                                                    		</div>
                                                    	</div>
                                                        <div class="row">                                                 
				                                            <div th:each="question, rowCount : ${questionPage}" class="col-md-12">
				                                                <div class="card text-primary order-card">
				                                                    <div class="card-block">
				                                                    	<p><b><span th:text="${rowCount.count+(currentPage*25)}+'. '"></span><span th:text="${question.content}"></span></b></p>
				                                                    	<div class="row">
				                                                    		<div class="col-md-6">
				                                                    			<p><b>(a) </b> <span th:text="${question.optionA}"></span></p>
				                                                    		</div>
				                                                    		<div class="col-md-6">
				                                                    			<p><b>(b) </b> <span th:text="${question.optionB}"></span></p>
				                                                    		</div>
				                                                    		<div class="col-md-6">
				                                                    			<p><b>(c) </b> <span th:text="${question.optionC}"></span></p>
				                                                    		</div>
				                                                    		<div class="col-md-6">
				                                                    			<p><b>(d) </b> <span th:text="${question.optionD}"></span></p>
				                                                    		</div>
				                                                    	</div>
				                                                    	<hr />
				                                                    	<p><b>Correct Answer:</b> <span th:text="${question.answer}"></span></p>
				                                                    	<a class="btn btn-success btn-sm mr-3" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Edit Question" aria-describedby="tooltip529394"><i style="font-size: 16px" class="ti-pencil-alt"></i></a>
			                                                    		<a class="btn btn-danger btn-sm mr-3" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Delete Question" aria-describedby="tooltip529394"><i style="font-size: 16px" class="ti-trash"></i></a>				                                             			                                                    		
			                                                    	</div>
				                                                </div>
				                                            </div>
                                                        </div>
                                                        <div class="row">
                                                        	<div class="col-12">
	                                                        	<!-- Pagination -->
												                <nav aria-label="Page navigation example ">
												                    <ul class="pagination">
												                        <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/backend/quizzes/{id}/{title}/questions/page=' + ${currentPage-1} (id = ${quiz.id}, title = ${quiz.title}) }">Prev</a></li>			
												                        <li th:classappend="${currentPage == page-1? 'active' : ''}" th:each="page : ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:href="@{'/backend/quizzes/{id}/{title}/questions/page=' + ${page-1} (id = ${quiz.id}, title = ${quiz.title}) }"><span th:text="${page}"></span></a></li>
																		<li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/backend/quizzes/{id}/{title}/questions/page=' + ${currentPage+1} (id = ${quiz.id}, title = ${quiz.title}) }">Next</a></li>
												                    </ul>
												                </nav>	
											                </div>
                                                        </div>       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                	<!-- Replaceable Content Ends -->
               
                </div>
            </div>
            
        </div>
    </div>
    
  
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	function deleteQuiz(id) {
		
		swal({
			  title: "Are you sure to delete?",
			  text: "Once deleted, you will not be able to recover this quiz!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
				    window.location = "/backend/quizzes/"+id+"/delete";
				} 
				else {
				    swal("Quiz is safe!");
				}
			});
		
	};
	
	function attemptQuiz(id) {
		
		swal({
			  title: "Are you sure to Attemp this quiz?",
			  text: "Do not follow any illegal ways.!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
				    window.location = "/backend/quizzes/"+id+"/attempt";
				}
			});
		
	}
</script>

<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/bootstrap/js/bootstrap.min.js}"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/css-scrollbars.js}"></script>

<!-- Custom js -->
<script type="text/javascript" th:src="@{/admin-resources/js/script.js}"></script>
<script th:src="@{/admin-resources/js/pcoded.min.js}"></script>
<script th:src="@{/admin-resources/js/vartical-demo.js}"></script>
<script th:src="@{/admin-resources/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>

</html>
