<!DOCTYPE html>
<html lang="en" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	  
<head th:replace="~{admin-template/base::head-fragment}">

</head>

<body>
    <!-- Pre-loader Starts -->
    <div th:replace="~{admin-template/base::theme-loader-fragment}">
    
    </div>
    <!-- Pre-loader Ends -->
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        
			<!-- Header Navbar Starts -->
            <nav th:replace="~{admin-template/base::header-navbar-fragment}">
               
            </nav>
            <!-- Header Navbar Ends -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                
                	<!-- Sidebar Starts -->
                    <nav th:replace="~{admin-template/base::sidebar-fragment}">
                        
                    </nav>
                    <!-- Sidebar Ends -->
                    
                    <!-- Replaceable Content Starts -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
									<!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="card-block">
                                            <h5 class="m-b-10">Categories</h5>
                                            <ul class="breadcrumb-title b-t-default p-t-10">
                                                <li class="breadcrumb-item">
                                                    <a th:href="@{/}"> <i class="fa fa-home"></i> </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <a th:href="@{/backend}">Dashboard</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                	<a th:href="@{/backend/categories/page=0}">Categories</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->
                                    

                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <div class="d-inline">
									                        <h5 class="mr-3">Category List</h5>
									                        <a sec:authorize="hasRole('ADMIN')" class="btn btn-sm btn-primary" th:href="@{/backend/categories/new}" data-toggle="tooltip" data-placement="top" data-original-title="New Category" aria-describedby="tooltip529394"><i class="ti-plus"></i></a>
									                    </div>
                                                        <div class="card-header-right">
															<ul class="list-unstyled card-option">
																<li><i class="fa fa-chevron-left"></i></li>
																<li><i class="fa fa-window-maximize full-card"></i></li>
																<li><i class="fa fa-minus minimize-card"></i></li>
																<li><i class="fa fa-refresh reload-card"></i></li>
																<li><i class="fa fa-times close-card"></i></li>
															</ul>
														</div>
														<hr/>
                                                    </div>
                                                    <div class="card-block">
                                                    	<div class="row">
                                                    		<div class="col-12">
                                                    			<!-- FLASH MESSAGE START -->
									                            <div th:if="${message}" class="ml-auto mr-auto">
									                                <div class="alert text-center" th:classappend="${message.type}" role="alert" th:text="${message.content}">
									                                </div>
									                            </div>
									                            <!-- FLASH MESSAGE END -->
                                                    		</div>
                                                    	</div>
                                                        <div class="row">                                                 
				                                            <div th:each="category : ${categoryPage}" class="col-md-6">
				                                                <div class="card text-primary order-card">
				                                                    <div class="card-block">
				                                                        <h4 th:text="${category.name}" class="m-b-10"></h4>
				                                                        <hr />
				                                                        
				                                                        <p th:text="${category.description}" class="m-b-20"></p> 
				                                                        <hr />
				                                                        
				                                                        <a sec:authorize="hasRole('ADMIN')" class="mr-3" th:href="@{/backend/categories/{id}/{name}/quizzes/page=0 (id = ${category.id}, name = ${category.name}) }" data-toggle="tooltip" data-placement="top" data-original-title="View Quizzes" aria-describedby="tooltip529394"><i style="font-size: 16px" class="ti-eye"></i></a>				                                                    	
				                                                        <a sec:authorize="hasRole('ADMIN')" class="mr-3" th:href="@{/backend/categories/{id}/edit (id = ${category.id}) }" data-toggle="tooltip" data-placement="top" data-original-title="Edit Category" aria-describedby="tooltip529394"><i style="font-size: 16px" class="ti-pencil-alt"></i></a>
				                                                    	<a sec:authorize="hasRole('ADMIN')" class="mr-3" href="#" th:onclick="deleteCategory([[${category.id}]], [[${category.name}]])" data-toggle="tooltip" data-placement="top" data-original-title="Delete Category" aria-describedby="tooltip529394"><i style="font-size: 16px" class="ti-trash"></i></a>
				                                                    	<a sec:authorize="hasRole('NORMAL')" class="btn btn-primary mr-3" th:href="@{/backend/categories/{id}/{name}/quizzes/page-0 (id = ${category.id}, name = ${category.name}) }">View Quizzes</a>
				                                                    </div>
				                                                </div>
				                                            </div>
                                                        </div>
                                                        <div class="row">
                                                        	<div class="col-12">
	                                                        	<!-- Pagination -->
												                <nav aria-label="Page navigation example ">
												                    <ul class="pagination">
												                        <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/backend/categories/page=' + ${currentPage-1}}">Prev</a></li>			
												                        <li th:classappend="${currentPage == page-1? 'active' : ''}" th:each="page : ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:href="@{'/backend/categories/page=' + ${page-1}}"><span th:text="${page}"></span></a></li>
																		<li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/backend/categories/page=' + ${currentPage+1}}">Next</a></li>
												                    </ul>
												                </nav>
											                </div>
                                                        </div>       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                	<!-- Replaceable Content Ends -->
               
                </div>
            </div>
            
        </div>
    </div>
    
  
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	function deleteCategory(id, name) {
		
		swal({
			  title: "Are you sure to delete?",
			  text: "Once deleted, you will not be able to recover this category!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
				    window.location = "/backend/categories/"+id+"/"+name+"/delete";
				} 
				else {
				    swal("Category is safe!");
				}
			});
		
	}
</script>

<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/bootstrap/js/bootstrap.min.js}"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" th:src="@{/admin-resources/js/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- modernizr js -->
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/modernizr.js}"></script>
<script type="text/javascript" th:src="@{/admin-resources/js/modernizr/css-scrollbars.js}"></script>

<!-- Custom js -->
<script type="text/javascript" th:src="@{/admin-resources/js/script.js}"></script>
<script th:src="@{/admin-resources/js/pcoded.min.js}"></script>
<script th:src="@{/admin-resources/js/vartical-demo.js}"></script>
<script th:src="@{/admin-resources/js/jquery.mCustomScrollbar.concat.min.js}"></script>
</body>

</html>
