<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{../../site-resources/images/favicon.png}">
  <link rel="stylesheet" th:href="@{../../site-resources/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../site-resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{../../site-resources/css/style-loolab.css}">

  <title th:text="${title}"></title>
</head>
<body>
  <!---Navbar-section--->
  <nav class="navbar navbar-dark  navbar-expand-md fixed-top">
    <div class="container">
       <a class="navbar-brand" th:href="@{/}">Exam Portal</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
           	 <li class="nav-item">
               <a class="nav-link" th:href="@{/}">Home</a>
             </li>
             
             <li class="nav-item">
               <a class="nav-link" href="#explore-head-section">Explore</a>
             </li>

             <li class="nav-item">
               <a class="nav-link" href="#contact-head-section">Contact</a>
             </li>
             
             <li class="nav-item">
               <a class="nav-link" th:href="@{/sign-up}">Sign up</a>
             </li>
             
             <li class="nav-item">
               <a class="nav-link" th:href="@{/sign-in}">Sign in</a>
             </li>
           </ul>
        </div>
     </div>
  </nav>

  <!---Home-top-section--->
  <section id="home-section" class="mt-5">
    <div class="dark-overlay">
      <div class="home-inner">
         <div class="container">
          <div class="row">
             <div class="col-12">
              <h2 class="lead display-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ducimus.</h2>
                <div class="d-flex flex-row mt-5">
                  <div>
                    <i class="fa fa-check"></i>
                  </div>
                    <div class="ml-4">
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quidem unde, nam deserunt vitae sit incidunt voluptates voluptatem excepturi autem quam labore eius earum, quaerat.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                  <div>
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="ml-4">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus qui iste mollitia dolorem error adipisci voluptatibus quisquam molestiae sunt quidem, labore, delectus corporis maiores fugit.</p>
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div>
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="ml-4">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nihil autem, cupiditate eius fugiat expedita minus voluptates at libero sed et pariatur totam ex incidunt?</p>
                  </div>
                </div>
             </div>
            </div>
           </div>
        </div>
     </div>
  </section>

  <!---Explore-Head-Section--->
  <section id="explore-head-section" class="text-center py-5 ">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <h3 class="display-3">Explore</h3>
         <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deserunt sapiente impedit nam, eius, ab quidem nesciunt maxime aliquid. Vitae ducimus a officiis facilis repellat asperiores!</p>
       </div>
     </div>
   </div>
  </section>

  <!---Explore-Main-Section--->
  <section id="explore-main-section" class="bg-light text-dark p-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <img class="img-fluid rounded" th:src="@{../../site-resources/images/explore.png}" alt="explore">
        </div>
        <div class=" col-lg-6 col-md-12">
           <h3>Explore Learn & Connect</h3>
           <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam, sint officia odio dolorem animi provident ipsa temporibus consectetur asperiores nisi est corporis unde.</p>
          <div class="d-flex flex-row">
            <div>
              <i class="fa fa-check"></i>
            </div>
            <div class="ml-3">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis incidunt voluptatibus.</p>
            </div>
          </div>

          <div class="d-flex flex-row">
            <div>
              <i class="fa fa-check"></i>
            </div>
            <div class="ml-3">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis incidunt voluptatibus.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!---contact-head-section--->
  <section id="contact-head-section" class="bg-info text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           <h1 class="display-4">Share</h1>
           <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deserunt sapiente impedit nam, eius, ab quidem nesciunt maxime aliquid. Vitae ducimus a officiis facilis repellat asperiores!</p>
        </div>
      </div>
    </div>
  </section>

  <!---Footer-Section--->
  <section id="footer" class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Exam Portal</h3>
          <p>Copyright &copy; 2019</p>
          <span> Designed By: <a href="#">Mehedi Hasan</a></span>
        </div>
      </div>
    </div>
  </section>


  <script th:src="@{../../site-resources/js/popper.min.js}"></script>
  <script th:src="@{../../site-resources/js/jquery-3.2.1.slim.min.js}"></script>
  <script th:src="@{../../site-resources/js/bootstrap.min.js}"></script>
</body>
</html>
